.slant {
    margin-top: -20px;
    background: #41ade5;
    color: #fff;
    position: relative;
    z-index: 1;
  }

.slant:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
  z-index: -1;
}
