.header-text {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.landing-image {
  width: 250px;
  margin: 0 auto;
}

h3, h4, h5, h2 {
  text-align: center;
}

.cover-container {
  max-height: 100vh;
  overflow: hidden;
} 

.body-text {
  font-family: sans-serif;
  font-size: 17px;
  text-align: center;
}