#about {
    margin: 0 auto 0;
    width: 100%;
    z-index: 1;
}

#about-background {
    background-image: linear-gradient(rgba(0,0,0,0), rgb(246, 246, 246));
}

#button-container {
    width: 50%;
    margin: 0 auto;
    text-decoration: none;
    padding: 40px;
    z-index: 1;
}

#resume-button {
    width: 100%;
    margin: 0px auto;
}

.pro-img {
    margin: 50px auto 0;
    max-width: 300px;
}


@media only screen and (max-width: 768px){
    .pro-img {
      margin-top: 80px;
    }

    #button-container {
        width: 60%;
    }
}

@media only screen and (max-width: 576px){
    .pro-img {
        margin-top: 100px;
    }

    #button-container {
        width: 80%;
        margin: -20px auto 60px;
    }
}