.footer-input {
    background: none;
    color: white;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}