header {
    width: 100%;
    background: rgba(255, 255, 255, 0.52);
    position: absolute;
    position: fixed;
    z-index: 1;
    padding: 1.45rem 0 0;
    color: #718190;
}

#heading {
    text-align: left;
    text-decoration: none;
    color: #718190;
}

.nav-item {
    padding: 0 5px;
    color: #6c8ca5;
    float: right;
}

.nav-item:hover  {
    cursor: pointer;
}

.x-icon {
    cursor: pointer;
    float: right;
    padding-top: -30px;
    display: none;
  }
  
  .icon {
    display: inline;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #718190;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar {
    background-color: white;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  

@media only screen and (max-width: 768px) {
    #heading {
        text-align: center;
    }

    .faqContainer {
        max-width: 80%;
    }

    h2 {
      text-align: center;
    }
    
    .nav-item {
      float: none;
      margin: 0 auto;
      text-align: center;
    }

    .nav-items {
      text-align: center;
      margin-top: 10px;
      display: none;
    }

    .change {
      display: block;
    }

    .x-icon {
      display: block;
    }
}