.slant {
    margin-top: -20px;
    /* background: #41ade5; */
    background: white;
    color: black;
    position: relative;
    z-index: 1;
  }
  .slant:before {
    background: inherit;
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
    z-index: -1;
  }

  /* Page header */
  .header-title {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .slant-title {
    text-align: center;
  }

  .slant-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }