#pone {
    background-image: url("../images/projects/limitless.png");
}

#ptwo {
    background-image: url("../images/projects/gocode.png");

}

#pthree {
    background-image: url("../images/projects/mountaineering.png");

}

#pfour {
    background-image: url("../images/projects/zoosnatch.png");

}

#pfive {
    background-image: url("../images/projects/colorclassifier.png");

}

#psix {
    background-image: url("../images/projects/tasktracker.png");

}