.nav-item {
  float: right;
}

.nav-item:hover  {
  cursor: pointer;
}

#heading {
  text-align: center;
}

.project-card {
    width: 100%;
    max-width: 320px;
    height: 420px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: left;
    border: thin solid rgba(51,122,183,.1);
    border-radius: 5px;
    box-shadow: 0 12px 12px 0 #d3d3d3;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.service-item {
    border-bottom: 1px solid  #343a40;
    padding: .5rem;    
}

.service-item:hover{
    background-color: #ece9e9;
}

.services-container {
    max-width: 60%;
    margin: 0 auto 30px;
    border: 1px solid  #343a40;
    background-color: #f6f6f6;
    box-shadow: 0 -1px 4px #343a40;
}

.photography-header {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

.gallery {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    margin: 0 auto;
  }

.photography-img {
  margin: 5px 0px;
}

.x-icon {
  cursor: pointer;
  float: right;
  padding-top: -30px;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 768px) {
    .faqContainer {
        max-width: 80%;
    }

    h2 {
      text-align: center;
    }
    
    .nav-item {
      float: none;
      margin: 0 auto;
      text-align: center;
    }

    .nav-itemss {
      text-align: center;
      margin-top: 10px;
      display: none;
    }

    .nav-itemss .change {
      display: block;
    }

    .x-icon {
      display: block;
    }
  }